{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stash</title>
    {%block styles%}
    {% bootstrap_css %}
    <link href="https://fonts.googleapis.com/css?family=Rammetto+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nova+Flat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
    {%endblock%}
</head>
<style>
    h1{
        font-family: 'Rammetto One', cursive;
    }
    .searchForm{
        margin-left: 70%;
    }
    .options{
        font-family: 'Nova Flat', cursive;
    }
    h2{
        font-family: 'Karla', sans-serif;
    }
    h4{
        font-family: 'Karla', sans-serif;
    }
</style>
<body>
   <div class="container-fluid">
       {%include 'navbar.html'%}
       <div class="row">
           <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
               <h2 class="text-center">CATEGORIES</h2>
               {% for category in categories%}
               <h4 class="text-center">{{category.category_name}}</h4>
               {%endfor%}
           </div>
           <div>

           </div>

       </div>









   </div>

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 {% bootstrap_javascript %}
{% endblock %}   
</body>
</html>